.btn {
	/* :link(not yet visited) :visited(already visited) */
	&,
	&:link,
	&:visited {
		text-decoration: none;
		text-transform: uppercase;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all 0.3s;
		padding: 1.5rem 4rem;
		position: relative;
		font-size: $default-font-size;

		// these styles are for button
		cursor: pointer;
		border: none;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

		&::after {
			transform: scale(1.25, 1.4);
			opacity: 0;
		}
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(1px);
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
	}

	&--white {
		background-color: #fff;
		color: $color-grey-dark;

		&::after {
			background-color: #fff;
		}
	}

	&--primary {
		background-color: $color-primary;
		color: white;

		&::after {
			background-color: $color-primary;
		}
	}

	&::after {
		content: "";
		/* need to specify these 2 */
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.3s;
		opacity: 0.5;
	}

	&--animated {
		animation: moveInBottom 0.8s ease-out 0.2s;
		animation-fill-mode: backwards;
	}
}

.btn-text {
	transition: all 0.3s;

	&:link,
	&:visited {
		display: inline-block;
		padding: 3px;
		border-bottom: 1px solid $color-primary;

		color: $color-primary;
		font-size: $default-font-size;
		text-decoration: none;
	}

	&:hover {
		background: $color-primary;
		color: white;
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
		transform: translateY(0);
	}
}
