.composition {
	position: relative;

	&__photo {
		width: 55%;
		box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
		// border-radius: 1px; ?: causing the outline to curve for some reason
		position: absolute;
		transition: all 0.2s;
		z-index: 1;
		outline-offset: 1.5rem;

		@include respond(tab-port) {
			float: left;
			// ?: position:relative can also be used to move elements around from their default positions, not just as a parent to absolute elements
			position: relative;
			width: 33.333333%;
			box-shadow: 0 1.5rem 3rem rgba(black, 0.2);
		}

		&--p1 {
			top: -2rem;
			left: 0;

			@include respond(tab-port) {
				top: 0;
				transform: scale(1.2);
			}
		}

		&--p2 {
			top: 2rem;
			right: 0;

			@include respond(tab-port) {
				top: -1rem;
				transform: scale(1.3);
				z-index: 2;
			}
		}

		&--p3 {
			left: 20%;
			top: 10rem;

			@include respond(tab-port) {
				top: 1rem;
				left: 0;
				transform: scale(1.1);
			}
		}

		&:hover {
			box-shadow: 0rem 2.5rem 4rem rgba(black, 0.5);
			outline: 1.1rem solid $color-primary;
			transform: translateY(-1rem) scale(1.05);
			z-index: 3;
		}
	}

	&:hover &__photo:not(:hover) {
		transform: scale(0.9);
	}
}
